# Quarto
_site/
.quarto/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

/.quarto/
**/*.quarto_ipynb
